html {
    position: relative;
    height: 200em;
}
body {
    margin-bottom: 60px;
    background-color: white;
}
/*-------------------------------------------*/
/*Tours*/
/*-------------------------------------------*/
@media only screen and (min-width: 994px) {
    .gridV4 {
        margin: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: auto;
        background-color: lightgray;
        border: solid darkgray 3px;
        border-radius: 18px;
    }
    .gridV5 {
        margin: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: auto;
        background-color: lightgray;
        border: solid darkgray 3px;
        border-radius: 18px;
    }
    .gridH4 {
        display: grid;
        grid-template-rows: 1fr;
        border: solid 4px;
        border-radius: 18px;
        margin: 5%;
        height: 95%;
    }
    html {
        position: relative;
        height: 200em;
    }
    .title {
        color: dimgray;
        font-size: 80px;
        text-align: center;
        margin: 5%;
    }
    a {
        font-size: 22px;
    }
}
@media only screen and (max-width: 995px) {
    .gridV4 {
        margin: 5%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        background-color: lightgray;
        border: solid darkgray 3px;
        border-radius: 18px;
    }

    .gridH4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: solid 4px;
        border-radius: 18px;
        margin: 5%; 
    }
    html {
        position: relative;
        height: 175em;
    }
    .title {
        color: dimgray;
        font-size: 50px;
        text-align: center;
        margin: 5%;
    }
    h5{
        font-size: 12px;
    }
    p{
        font-size:10px;
    }
    a {
        font-size: 12px;
    }
}
.gridwindowstext {
    text-align: center;
    padding: 10%;
}
.gridwindowsimg {
    width: 100%;
    height: 100%;
}
.imageimg {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}
.Rules{
    text-align: center;
}
/*-------------------------------------------*/
/*Depenting content Guide Compitence*/
/*-------------------------------------------*/
.gridwindowsWATER {
    word-break: break-word;
    background-color: lightblue;
    border-radius: 12px;
}
.gridwindowsAIR {
    word-break: break-word;
    background-color: cornsilk;
    border-radius: 12px;
}
.gridwindowsLAND {
    word-break: break-word;
    background-color: lightgreen;
    border-radius: 12px;
}

.availability-table {
    border-collapse: separate;
    border-spacing: 0;
}

.availability-table th, .availability-table td {
    border: 1px solid black; /* Ändra kantlinjernas färg till svart */
    padding: 5px;
}
