@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
<h1 class="title">Lidköpings Zoo</h1>
<div>
    <img class="imageimg" src="./assets/LionKing.jpg" alt="" style="width: 100%; height: 100%; object-fit:cover;">
</div>
<div class="gridV3">
    <div class="gridH3">
        <div class="gridwindows">
            <h5 class ="gridwindowstext">Member bonuses!</h5>
            <p class="gridwindowstext">Consider registering a account to book tours and gain member benefits such as gifts and discounts inside and outside the park!</p>
            <p class="gridwindowstext"> We currently are running a campain whit head and shoulders, get 5% of you next bottle and be dandruff free today!</p>
            <p class="gridwindowstext" style="margin-bottom: 0;"><a asp-area="Identity" asp-page="/Account/Register" style="color:blue;">Register here!</a></p>
        </div>
        <div class="gridwindowsimg">
            <img class="imageimg" src="./assets/OveSundberg.jpg" alt="" style="justify-content: center; align-self: center;">
        </div>
    </div>
    <div class="gridH3">
        <div class="gridwindows">
            <h5 class="gridwindowstext">Walking stick exhibit!</h5>
            <p class="gridwindowstext">The walking stick exhibit is finally now open! After mounts of searching for the missing animals, turns out they never left the cage! Bring you family and friends and try spot the living parts of a forest! Find 2 walking sticks in the entire exhibit to get chance for a exlusive trip to Angola (Flight, Hotel, Food and insurance not included)!</p>
            <h5 class="gridwindowstext">Good luck!</h5>
        </div>
        <div class="gridwindowsimg">
            <img class="imageimg" src="./assets/AfricaArt.jpg" alt="" style="justify-content: center; align-self: center;">
        </div>
    </div>
    <div class="gridH3">     
        <div class="gridwindows">
            <h5 class="gridwindowstext">Guided tours available!</h5>
            <p class="gridwindowstext">Tours provided by trained and educated guides have now benn available to all animals in our park! If you wish to visit our park and see our exiting animals book a guided tour whit any of our experts now! Guieded tours go twice a day one in the earlyday and one in the afternoon. Time scheme are as follows: Earlyday, 09:00 - 12:00. Afternoon, 13:00 - 16:00 </p>
            <p class="gridwindowstext"><a asp-controller="Home" asp-action="Tours" style="color:blue;">Book here now!</a></p>
        </div>
        <div class="gridwindowsimg">
            <img class="imageimg" src="./assets/double thmubs up.jpg" alt="" style="justify-content: center; align-self: center;">
        </div>
    </div>
</div>
