<link rel="stylesheet" href="~/css/RecruitmentPage.css" asp-append-version="true" />
<audio autoplay>
    <source src="~/mp3/clown-circus-music.mp3" type="audio/mpeg">
</audio>
<h1 class="title">Lidköpings Zoo</h1>
<h2 style="text-align:center;">Recruitment Office</h2>
<h3 style="text-align:center;">Current Campain: CLOWNS!</h3>
<div>
    <img class="imageimg" src="~/assets/ITScary1.jpg" alt="" style="width: 100%; height: 100%; object-fit:cover;">
</div>
<h4 style="text-align:center;">Are you the right fit for us? Are you ready to do what it takes? Can you take orders and obey blindly?</h4>
<div class="gridV3">
    <!-- Row 1 -->
    <div>
        <!-- Joker1 -->
        <div class="gridwindowsimg">
            <img class="imageimg" src="/assets/Joker1.jpg" alt="" style="justify-content: center; align-self: center;">
        </div>
    </div>
    <div>
        <!-- Sales Pitch -->
        <div class="gridwindows">
            <h5 class="gridwindowstext">We NEED YOU!</h5>
            <p class="gridwindowstext">We are looking you people just like you? How do we know you, you ask. We know everything. The question is are you ready? Can you give up you earthly things for a bigger cause?</p>
            <h5 class="gridwindowstext">Email: LidköpingsZoo@wecare.com</h5>
            <h5 class="gridwindowstext">Tele: +46723952740</</h5>
            <h5 class="gridwindowstext">If you are really devoted feel free to visit me personally at: Filsbäcksvägen 13, 531 70 Lidköping</h5>
        </div>
    </div>
    <div>
        <!-- Joker2 -->
        <div class="gridwindowsimg">
            <img class="imageimg" src="/assets/Joker2.jpg" alt="" style="justify-content: center; align-self: center;">
        </div>
    </div>
</div>