<br />
<hr />
<br />
<div style="display: flex; justify-content:center;">
    <a style="margin: auto; text-decoration:underline; color: green;" asp-area="" asp-controller="Guide" asp-action="BookedTours">See Your Booked Tours</a>
    <h4 style="margin: auto; color: gray;">Here you can see your content!</h4>
    <a style="margin: auto; text-decoration:underline; color: blue;" asp-area="" asp-controller="Guide" asp-action="AnimalCompetence">See Your Animal Competence</a>
</div>
<br />
<hr />
<br />