




@*<partial name="GuideNavBar" />
<br />
<h2>Animal Competence List</h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Book</th>
            <th scope="col">Title</th>
            <th scope="col">Rating</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model.Review)
        {
            <tr>
                <td style="word-wrap:break-word"></td>
                <td style="word-wrap:break-word"></td>
                <td></td>
                <td></td>
                <td>
                    <form method="post" asp-controller="Review" asp-action="Delete">
                        <button type="submit" class="btn btn-primary" name="reviewId" value="">Delete</button>
                    </form>
                </td>
                <td>
                    <form method="get" asp-controller="Review" asp-action="Edit">
                        <button type="submit" class="btn btn-primary" name="reviewId" value="">Edit</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>*@