<partial name="./_AdminHeader"/>
<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
@model LidkopingsZoo.Models.ViewModels.EditAnimalsInfoViewModel
<form method="post" asp-controller="Admin" asp-action="EditAnimalsMethod">
    <input type="hidden" id=" id" name="id" value="@Model.ID"/>

    <label for="name">Name</label><br>
    <input type="text" id="name" name="name" placeholder="@Model.EditAnimal[0]" required><br>

    <label for="desc">Description</label><br>
    <input type="text" id="desc" name="desc" placeholder="@Model.EditAnimal.[1]" required><br>

    <label for="age">Age</label><br>
    <input type="number" id="age" name="age" placeholder="@Model.EditAnimal.[2]" required><br>

    <button type="submit" class="btn btn-primary">Edit Animal</button>
</form>