<partial name="./_AdminHeader"/>
<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
<form method="POST" asp-controller="Admin" asp-action="RemoveAnimalsMethod">
    <label for="id">Animals ID</label><br>
    <input type="number" id="id" name="id"><br>
    <button type="submit" class="btn btn-primary">Remove Animal</button><br>
</form>