<!-- Title & Rules -->
<h1 class="title">Lidköpings Zoo</h1>
<h2 style="text-align:center;">Book Your Guided Tour. </h2>
<div class="gridV4">
        <div class="gridH4">
            <div class="gridwindowsAIR">
                <h5 class="gridwindowstext"></h5>
                <h6 class="gridwindowstext"></h6>
            </div>
            <div class="gridwindowstext">
                <span style="display:block">
                    <p>Please select an available time.</p>
                </span>
                <br>
            </div>
        </div>
</div>