<link rel="stylesheet" href="~/css/tours.css" asp-append-version="true" />
<!-- Title & Rules -->
<h1 class="title">Lidköpings Zoo</h1>
<h4 class="Rules">Booking tours are free in our Zoo to promote accessibility to exotic animals. How ever there are some restrictions: (1). MAX 5 people per tour (2). 3h per tour, (3). All tours are preformed during set hours (09:00 - 12:00 & 13:00 - 16:00) (4). Tours MUST be accompnied by trained guide.</h4>
<h5 class="Rules">Obay these rules and restrictions for your, everyone around you and the animals safty. We dont want Kraken to escape again...</h5>
<!-- Page -->
<div class="gridV3">
    <!-- Foreach animal induvidual -->
    <div class="gridH3">
        <div class="gridwindowsAIR">
            <h5 class="gridwindowstext">(ANIMAL NAME)</h5>
            <p class="gridwindowstext">This animal resides in (ANIMAL HABITAT)</p>
            <p class="gridwindowstext"><a asp-controller="Home" asp-action="Tours" style="color:blue;">Book here now!</a></p>
        </div>
        <div class="gridwindowsimg">
            <img class="imageimg" src="~/assets/Kraken.jpg" alt="" style="justify-content: center; align-self: center;">
        </div>
    </div>

</div>